<section class="step step0" *ngIf="step0 == true">
	<section class="content">
		<div class="pergunta">
			<h2>Perguta</h2>
		</div>

		<section class="cards clearfix">
			<div class="card">
				<h3>Alternativas</h3>
			</div>

			<div class="card">
				<h3>Alternativas</h3>
			</div>

			<div class="card">
				<h3>Alternativas</h3>
			</div>
		</section>

		<section class="btn-action">
			<button (click)="avancarStep1()">Avançar</button>
		</section>
	</section>
</section>

<section class="step step1" *ngIf="step1 == true">
	<h2>Step-1 {{step1}}</h2>

	<button (click)="avancarStep2()">Avançar</button>
</section>

<section class="step step2" *ngIf="step2 == true">
	<h2>Step-2 {{step2}}</h2>

	<button (click)="avancarStep3()">Avançar</button>
</section>

<section class="step step3" *ngIf="step3 == true">
	<h2>Step-3 {{step3}}</h2>

	<button>Concluir</button>
</section>