<section class="step step0" *ngIf="step0 == true">
	<section class="content">
		<div class="pergunta">
			<h3>Qual o nivel de diculdade na alimentação saudável?</h3>
		</div>

		<section class="cards clearfix">
			<div class="card">
				<h2>Simples</h2>
				<p>Tenho fácil controle</p>
			</div>

			<div class="card">
				<h2>Intermediário</h2>
				<p>Tento Controlar, com certa dificuldade</p>
			</div>

			<div class="card">
				<h2>Tenho Dificuldades</h2>
				<p>Não tenho muito controle</p>
			</div>
		</section>

		<section class="btn-action">
			<button (click)="avancarStep1()">Avançar</button>
		</section>
	</section>
</section>

<section class="step step1" *ngIf="step1 == true">
	<section class="content">
		<div class="pergunta">
			<h3>Os mercados possui grande variedade de produtos Fitness?</h3>
		</div>

		<section class="cards clearfix">
			<div class="card">
				<h2>Sim</h2>
				<p>Fácil de encontrar</p>
			</div>

			<div class="card">
				<h2>Tenho Dificuldade</h2>
				<p>Depende muito do mercado</p>
			</div>

			<div class="card">
				<h2>Difícil</h2>
				<p>Difícil de encontrar nos mercados e falta de variedade e informações claras</p>
			</div>
		</section>

		<section class="btn-action">
			<button (click)="avancarStep2()">Avançar</button>
		</section>
	</section>
</section>

<section class="step step2" *ngIf="step2 == true">
	<section class="content">
		<div class="pergunta">
			<h3>As informações são de facil acesso nos produtos?</h3>
		</div>

		<section class="cards clearfix">
			<div class="card">
				<h2>Simples</h2>
				<p>São de fácil acesso</p>
			</div>

			<div class="card">
				<h2>Intermediário</h2>
				<p>Tento Controlar, com certa dificuldade</p>
			</div>

			<div class="card">
				<h2>Tenho Dificuldades</h2>
				<p>Não tenho muito controle</p>
			</div>
		</section>

		<section class="btn-action">
			<button (click)="avancarStep3()">Avançar</button>
		</section>
	</section>
</section>

<section class="step step3" *ngIf="step3 == true">
	<section class="content">
		<div class="pergunta">
			<h3>Qual o nivel de diculdade na alimentação saudável?</h3>
		</div>

		<section class="cards clearfix">
			<div class="card">
				<h2>Simples</h2>
				<p>Tenho fácil controle</p>
			</div>

			<div class="card">
				<h2>Intermediário</h2>
				<p>Tento Controlar, com certa dificuldade</p>
			</div>

			<div class="card">
				<h2>Tenho Dificuldades</h2>
				<p>Não tenho muito controle</p>
			</div>
		</section>

		<section class="btn-action">
			<button (click)="enviarMsg()">Concluir</button>
		</section>
	</section>
</section>