@import '../app.scss';

.step0{
	background-color: $base-step0;
	margin-top: -20px;
}

.step1{
	background-color: $base-step1;
	margin-top: -20px;
}

.step2{
	background-color: $base-step2;
	margin-top: -20px;
}

.step3{
	background-color: $base-step3;
	margin-top: -20px;
}

/*=========== ATOMS =============*/

.pergunta{
	background-color: $base-question;
	width: 75%;
	margin: 20px auto;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	position: relative;
    top: 20px;
    @media screen and (min-width: 992px){
    	top: 0px;
    }
}

.card{
	background-color: $base-card;
	width: 100%;
	min-height: 180px;
	margin: 10px auto;
	border-radius: 5px;
	border-bottom: 10px solid tomato;
	cursor: pointer;
	text-align: center;
	&:hover{
		background-color: $bg-gelo;
		transition-duration: 0.5s;
	}

	h2{
		background-color: $bg-gelo;
    	height: 60px;
    	padding-top: 20px;
    	border-radius: 5px;
	}

	p{
		margin-top: 15px;
		color: $txt-secondary;
	}

	@media screen and (min-width: 992px){
		width: 25%;
    	float: left;
    	margin-left: 6%;
    	min-height: 220px;
	}
}

.btn-action{
	clear: both;
	text-align: center;
	padding-bottom: 30px;
	button{
		border: none;
		width:80%;
		font-size: 1.3em;
		padding: 10px;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
		background-color: $base-btn;
		&:hover, &:active{
			background-color: $bg-btn-ativo;
			color: $text-btn-ativo;
			transition-duration: 0.3s; 
		}
	}
}

/*=========== MOLECULES =============*/

/*=========== PAGES =============*/